.header {
  background-color: var(--color-primary-white);
  display: flex;
  align-items: center;
  margin: auto;
  
  &.dark-theme {
    background-color: var(--color-primary-black);
    
    button {
      background-color: var(--color-secondary-black);
    }
  }

  .top_header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 73px;
    height: 16px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    border: 0px;
    border-radius: 50%;
    background-color: var(--color-secondary-white);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 19.19999885559082px;
      height: 22.799999237060547px;
    }
  }

  @media (min-width: 320px) {
    width: 320px;
    height: 64px;

    .top_header {
      width: 280px;
    }
  }

  @media (min-width: 768px) {
    width: 768px;
    height: 88px;

    .top_header {
      width: 728px;
    }
  }

  @media (min-width: 1280px) {
    width: 1280px;
    height: 80px;

    .top_header {
      width: 1240px;
    }
  }

  @media (min-width: 1440px) {
    width: 1440px;
    height: 80px;

    .top_header {
      width: 1240px;
    }
  }
}
