@use '../mixins.scss' as *;

.header {
  width: 320px;
  height: 64px;
  background-color: var(--color-primary-white);
  display: flex;
  align-items: center;
  margin: auto;

  &.dark-theme {
    background-color: var(--color-primary-black);

    button {
      background-color: var(--color-secondary-black);
    }
  }

  .top_header {
    width: 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 73px;
    height: 16px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    border: 0px;
    border-radius: 50%;
    background-color: var(--color-secondary-white);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 19.19999885559082px;
      height: 22.799999237060547px;
    }
  }

  @include mediaHeader(320px, 320px, 64px, 73px, 16px, 280px);
  @include mediaHeader(768px, 768px, 88px, 73px, 16px, 728px);
  @include mediaHeader(1280px, 1280px, 80px, 91px, 20px, 1240px);
  @include mediaHeader(1440px, 1440px, 80px, 91px, 20px, 1240px);
}
