@use '../mixins.scss' as *;

.main {
  width: 280px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: auto;
  margin-top: 27px;
  background-color: var(--color-primary-white);

  &.dark-theme {
    background-color: var(--color-primary-black);
  }

  @include mediaMain(320px, 280px, repeat(1, 1fr), 20px, 27px);
  @include mediaMain(768px, 728px, repeat(2, 1fr), 24px, 44px);
  @include mediaMain(1280px, 1240px, repeat(3, 1fr), 32px, 44px);
  @include mediaMain(1440px, 1240px, repeat(3, 1fr), 32px, 44px);
}
