@use '../mixins.scss' as *;

.pagination {
  height: 24px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  margin-bottom: 80px;
  margin-top: 32px;

  @include mediaPagination(320px, 80px, 32px);
  @include mediaPagination(768px, 100px, 40px);
  @include mediaPagination(1280px, 100px, 40px);
  @include mediaPagination(1440px, 100px, 40px);

  .button_left,
  .button_right {
    background-color: transparent;
    border: 0;
    height: 20px;
    width: 20px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      &:hover {
        background-color: rgb(18, 18, 18, 0.05);
        border-radius: 25%;
      }
    }
  }

  .button_left {
    transform: rotate(180deg);
    margin-right: 20px;

    img {
      margin: 4.1px 6.2px 4.1px 6.2px;
    }
  }

  .button_right {
    margin-left: 20px;

    img {
      margin: 4.1px 6.2px 4.1px 6.2px;
    }
  }

  .numbers {
    button {
      border: 0;
      background-color: transparent;
      height: 24px;
      margin-right: 4px;

      span {
        @include text(var(--font-family-Inter), var(--color-primary-dark-gray), 300, 16px, 140%);
        margin-inline: 8px;
      }

      &:last-child {
        margin: 0;
      }

      &:hover {
        border-bottom: 1px solid var(--color-primary-dark-gray);
        font-weight: 500;
      }
    }

    span {
      @include text(var(--font-family-Inter), var(--color-primary-dark-gray), 300, 16px, 140%);
      margin-inline: 8px;
    }

    .pageNumber {
      width: 100%;
      height: 100%;
      background-color: rgb(18, 18, 18, 0.05);
      border-radius: 25%;
    }
  }

  &.dark-theme {
    .button_left,
    .button_right {
      img {
        &:hover {
          background-color: rgb(26, 24, 24, 1);
        }
      }
    }

    .numbers {
      button {
        span {
          color: var(--color-primary-light-gray);
        }
        &:hover {
          border-bottom: 1px solid var(--color-primary-light-gray);
          font-weight: 500;
        }
      }

      span {
        color: var(--color-primary-light-gray);
      }

      .pageNumber {
        background-color: rgb(26, 24, 24, 1);
      }
    }
  }
}
